* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: white;
    padding-top: 12px;
}
.logo {
    display: block; margin: auto;
    background-color: #999;
    height: 88px; width: 88px;
}
nav {
    margin-top: 12px;
    background-color: #ffdcf5;
    display: flex;
    justify-content: center;

}
nav a {
    color: #4a154b; 
    text-decoration: none;
    padding: 12px;
}
nav a:hover {
    background-color: #d81b60;
    color: white;
    
}
.highlight {
    background-color: #d81b60;
    color: white;
}

body {
    max-width: 1400px;
    margin: auto;
    font-family: Arial, sans-serif;
    background-color: #faace4;
    color: #4a154b; 
    text-align: center;
}

.container {
    width: 50%;
    margin: 50px auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

input, select, button {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #d48ac0;
    background-color: #fbe0f3;
    color: #4a154b;
}

button {
    background-color: #d81b60;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover {
    background-color: #b71550;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f8bbd0;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: #4a154b;
}
